/* GLOBAL STYLING FOR EVERYTHING IN THE HTML ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
#root {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins' sans-serif;
  background-color: rgb(14, 14, 66);
  color: #fff;
  height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
}

/* TOP NAVIGATION  */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 70px;
}

.login {
  display: flex;
  position: relative;
}

.login label {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 1.5rem;
}

.login_input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: rgb(27, 27, 79);
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login_input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login_input::placeholder {
  color: #bbb;
}

.login_btn {
  border: none;
  background: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login_btn:hover,
.login_btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  color: #fff;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  transition: all 1s;
}

/* INSIDE THE MAIN CONTAINER WE STYLE THE BALANCE ASPECT */
.balance {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance_label {
  font-size: 2.2rem;
  font-weight: 500;
}

.balance_date {
  font-size: 1.6rem;
  color: #888;
}

.date {
  color: orangered;
}

.balance_value {
  font-size: 3.5rem;
  font-weight: 200;
}

/* OVER-ALL LANDING SECTION DIV ELEMENTS */

.landing-section {
  display: flex;
  justify-content: space-between;
}

.movement-summary,
.aside-operation-all {
  width: 45%;
}

/* INSIDE THE MAIN CONTAINER WE STYLE THE MOVEMENTS ASPECT */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow-y: scroll;
  height: 500px;
}

.movements_row {
  padding: 2.25rem 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 3px solid #eee;
}

.movements_type {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements_type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements_date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements_value {
  font-size: 2rem;
  color: #666;
  margin-left: auto;
}

.movements_type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

/* INSIDE THE MAIN CONTAINER WE STYLE THE SUMMARY ASPECT */
.summary {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-bottom: 3rem;
}

.summary > div {
  margin: 10px;
}

.summary_label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary_value {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary_value--in,
.summary_value--interest {
  color: #66c873;
}

.summary_value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

/* INSIDE THE MAIN CONTAINER WE STYLE THE OPERATIONS ASPECT */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
  margin-bottom: 10px;
}

/* CARDS */
.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffb003);
}
.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 04rem 1rem;
}

/* EXCEPTIONS FOR INTEREST */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form_label--loan {
  grid-row: 2;
}

/* END EXCEPTIONS  GENERAL*/
.form_input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form_input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form_label {
  font-size: 1.3rem;
  text-align: center;
}

.form_btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form_btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.7rem;
}
.timer {
  font-weight: 600;
}

/* REM'S WORK */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-top {
  align-items: flex-start;
}

form div {
  display: flex;
  flex-direction: column;
}

form div input {
  margin-bottom: 7px;
}

form div label {
  text-align: center;
  display: block;
}

.form--transfer button,
.form--close button {
  padding: 0px 15px;
}

/* ALL MEDIA QUERY MOVEMENTS APPEARS HERE */

@media screen and (max-width: 768px) {
  .landing-section {
    display: block;
    margin: auto;
  }

  .movement-summary,
  .aside-operation-all {
    width: 100%;
  }

  .summary-item {
    padding: 0 4rem;
  }

  .logout-timer {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .login,
  .login label {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 399px) {
  .flex {
    flex-direction: column;
  }

  .items-top {
    align-items: unset;
  }
  .form--transfer,
  .form--close {
    gap: unset;
  }
  .form--transfer div input,
  .form--transfer button,
  .form--close div input,
  .form--close button {
    margin-top: 5px;
    order: 1;
  }
}
